/.project
/.settings
/pronun-webapp/.project
/pronun-webapp/.classpath
/pronun-webapp/.settings/org.eclipse.jdt.core.prefs
/pronun-webapp/.settings/org.eclipse.m2e.core.prefs
/pronun-webapp/.settings/org.eclipse.wst.common.component
/pronun-webapp/.settings/org.eclipse.wst.common.project.facet.core.xml
/pronun-webapp/.settings/org.eclipse.wst.jsdt.ui.superType.container
/pronun-webapp/.settings/org.eclipse.wst.jsdt.ui.superType.name
/pronun-webapp/.settings/org.eclipse.wst.validation.prefs
/pronun-webapp/.settings
/pronun-voice/*.classpath
/pronun-voice/*.gitignore
/pronun-voice/*.project
/pronun-voice/.settings/org.eclipse.core.resources.prefs
/pronun-voice/.settings/org.eclipse.jdt.core.prefs
/pronun-voice/.settings/org.eclipse.jdt.ui.prefs
/pronun-voice/.settings/org.eclipse.m2e.core.prefs
/pronun-voice/.settings/org.eclipse.wst.common.component
/pronun-voice/.settings/org.eclipse.wst.common.project.facet.core.xml
/pronun-voice/.settings
/pronun-data/.settings/*.prefs
/pronun-data/.settings/*.component
/pronun-data/.settings/*.xml
/pronun-data/.classpath
/pronun-data/.gitignore
/pronun-data/.project
/pronun-loader-plugin/.classpath
/pronun-loader-plugin/.gitignore
/pronun-loader-plugin/.project
/pronun-loader-plugin/.settings/org.eclipse.core.resources.prefs
/pronun-loader-plugin/.settings/org.eclipse.jdt.core.prefs
/pronun-loader-plugin/.settings/org.eclipse.m2e.core.prefs
/pronun-loader-plugin/.settings/org.sonar.ide.eclipse.core.prefs
/pronun-loader/.classpath
/pronun-loader/.gitignore
/pronun-loader/.project
/pronun-loader/.settings/org.eclipse.core.resources.prefs
/pronun-loader/.settings/org.eclipse.jdt.core.prefs
/pronun-loader/.settings/org.eclipse.m2e.core.prefs
/pronun-loader/.settings/org.sonar.ide.eclipse.core.prefs
